body {
  background-color: #333;
}

.media-card-container {
  display:grid;
  gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  height: fit-content;
  padding: 10px;

  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
}

.media-card-container-with-group {
  grid-auto-columns: 100%;
}

.group-card {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.snap-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px;
}

.snap-inline > * {
  scroll-snap-align: start;
}

.card {
  display: grid;
  grid-template-rows: min-content;
  gap: 10px;
  background-color: #222;
}

.card > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.card > img:hover {
  transform: scale(1.5);
}